body {
  width: 100vw;
  background-image: url(./pictures/IMG-20191116-WA0036.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
