.home {
  width: 30vw;
  color: #fff;
  position: fixed;
  right: 0;
  top: 8%;
}

.home button {
  padding: 8px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
}
